.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    line-height: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}  

.search-box:hover {
    width: 250px;
    transform: scale(1.2);
    font-size: medium;
}